node_modules/

# CDK asset staging directory
.cdk.staging
cdk.out
.tmp
outputs.json
.DS_Store
.husky/pre-commit
/.idea/prettier.xml

.idea/
*.iml

lib/lambdas/read/types/output/generated.ts
coverage/

.env
__pycache__/